
@font-face {
    font-family: 'Courier Prime', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap")
}

body {
  margin: 0;
  font-family: 'Courier Prime', Courier, Arial, Helvetica, sans-serif;
  background-color: black;
}

h1 {
    margin-top: 75px;
    color:rgb(228, 228, 228);
    text-align: center;
    font-weight: lighter;
    font-size: 26px;
}

h2 {
    color: rgb(228, 228, 228);
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

p {
  color: rgb(228, 228, 228);
  text-align: center;
  font-size: 14px;
}

.button1 {
    position: absolute;
    top: 50px;
    right: 50px;
    font-family: 'Courier Prime';
    background-color: black;
    color: white;  
    border: 2px solid white;
}

.button1:hover {
    border-color: rgb(197, 197, 197)
}

.topnav {
  margin-top: 75px;
  margin-bottom: 100px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
    color:rgb(228, 228, 228);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
    color:rgb(228, 228, 228);
  font-weight: bolder;
}

.topnav a.active {
    color:rgb(240, 240, 240);
  font-weight: bolder;
}

.setlist {
  margin-top: 100px;
}

ul.leaders {
  margin: 0 auto;
  max-width: 30em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  color: rgb(228, 228, 228);
  font-size: 14px;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
  "........................................"
  "........................................"
  "........................................"
  "........................................"
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: black;
  }

  ul.leaders span + span {
    float:right;
    padding-left: 0.33em;
    background: black;
  }
